# Gradle
.gradle/
build/
.kotlin/

# Local SDK / machine-specific
local.properties

# Logs / OS
*.log
.DS_Store
Thumbs.db

# Android Studio / IntelliJ
*.iml
*.ipr
*.iws
.idea/
.navigation/
captures/
.externalNativeBuild/
.cxx/
out/
bin/
gen/
obj/

# Build outputs
*.apk
*.ap_
*.aab
*.dex
output-metadata.json

# Signing / secrets
*.jks
*.keystore
keystore.properties
signing.properties

# Google Services / Firebase
google-services.json
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Profiling
*.hprof
